<div class="flex flex-col items-center justify-center">
  <h1 class="font-bold text-4xl">A Simple Task Manager</h1>
  <p>A task manager web application built using Ruby on Rails</p>
  
  <div class = "mt-3">
    <%= link_to "View Projects", projects_path, class: "bg-indigo-600 hover:bg-indigo-700 text-white font-medium py-2 px-4 rounded-lg transition duration-150 ease-in-out"%>
    <%= link_to "View Tasks", tasks_path, class: "bg-indigo-600 hover:bg-indigo-700 text-white font-medium py-2 px-4 rounded-lg transition duration-150 ease-in-out" %>
  </div>
</div>
